/node_modules
/public/hot
/public/uploads/research
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
const.sql
construction.sql
vn.zip
vn/vendor.zip
